<div class="bipper-container">
  <!-- Zone d'affichage -->
  <div class="display">
    {{ inputValue || 'XXX' }}
  </div>

  <!-- Grille des boutons -->
  <div class="keypad-grid">
    <app-digit-button
      *ngFor="let key of keys"
      [label]="key"
      color="primary"
      (click)="onKeyClick(key)"
      size="s">
    </app-digit-button>
    <app-digit-button
      [label]="'→'"
      color="primary"
      (click)="onKeyClick('→')"
      size="l">
    </app-digit-button>
  </div>
</div>
