@use '../../../../styles.scss' as *;

.bipper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enter-button{
  grid-column: 2/4;
}

.display {
  font-family: $text-font;
  font-size: $title-size-large;
  width: 700px;
  height: 150px;
  border-radius: 20px;
  background-color: #f0eef9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  border: 1px solid #7b8b6f;
}

.keypad-grid {
  display: grid;
  grid-template-columns: repeat(3, 230px);
  grid-template-rows: repeat(3,230px);
}
