.status-container {
  height: 400px;
  width: 400px;
  background: lightcoral;
  font-size: 3em;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Adwaita Mono";
}

.ready {
  background: green;
}
