@use '../../../../styles.scss' as *;

:host {
  display: flex;               
  justify-content: center;
  width: 100%;    
  margin-top:10px;
  margin-bottom: 10px;
}

.tabs-container {
  width: 100%;
  max-width: 1200px;           
  display: flex;
  flex-direction: column;
}

.tabs-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;        
  border-bottom: 1px solid var(--color-secondary, #e5e7eb);
  padding: 0.5rem 0;
  font-family: $text-font;
}

.tab-btn {
  flex: 1;                      
  text-align: center;

  position: relative;
  background: transparent;
  border: none;
  padding: 0.75rem 0;
  cursor: pointer;

  font: inherit;
  font-size: $title-size-small;
  color: var(--text-color, #111827);
  opacity: 0.85;

  &:hover:enabled { opacity: 1; }
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &.active {
    font-weight: 700;
    opacity: 1;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.55rem;
      height: 3px;
      border-radius: 2px;
      background: $text-color-primary;
    }
  }
}


.tabs-panel {
  padding: 1rem 0;
  display: flex;
  
  font-family: $text-font;
}

