<h6 class="paymentoption-category-header">En espèces :</h6>
<app-payment-option imgSrc="assets/icons/cash-pay.svg" explanation="Je règle au comptoir en espèces" (click)="finishPayment()"></app-payment-option>
<h6 class="paymentoption-category-header">Par carte sur la borne :</h6>
<app-payment-option imgSrc="assets/icons/payments.svg" explanation="Régler en une fois" (click)="onePaymentOptionClick()"></app-payment-option>
<app-payment-option imgSrc="assets/icons/people-sharing.png" explanation="Diviser en parts égales" (click)="splitPaymentOptionClick()"></app-payment-option>
<app-payment-option imgSrc="assets/icons/checkbox.png" explanation="Répartition customisée" (click)="customSplitPaymentOptionClick()"></app-payment-option>
