@use '../../../../styles.scss' as *;
:host{
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit-button {
  font-family: $text-font;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px;
  margin: 4px;
  border: 1px solid #7b8b6f;
  background-color: #dce6cc;
  font-size: $title-size-medium;

  img {
    width: 20px;
    height: 20px;
  }
}
.primary-button {
  background-color: #dce6cc;
  color: #4c5843;
}

.small-size{
  width: 200px;
  height: 200px;
}
.large-size{
  width: 440px;
  height: 200px;
}

