@use '../../../../styles.scss' as *;


.title-container{
  background-color: $background-color-primary;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid #64748b;
}

app-title{
  margin : 5px;
}

app-product-grid{
  margin-bottom: 50px;
}

.group-menu-content{
  padding-top: 300px;
  padding-bottom : 400px;
}


