<div class="title-section">
  <app-title [text]="tabs[currentTabIndex].title" color="primary" size="l"></app-title>
</div>


<ul class="navbar">
  @for (tab of tabs; track tab; let idx = $index) {
    <li [class.active]="idx <= currentTabIndex" [class.lastActive]="idx === currentTabIndex">{{tab.section}}</li>
  }
</ul>
<div class="section-content">
  @switch (currentTabIndex) {
    @case (0) {
      <app-numpad></app-numpad>
    }
    @case (1) {
      <app-choose-payment></app-choose-payment>
    }
    @case (2) {
      <app-custom-payment></app-custom-payment>
    }
    @case(3) {
      <!-- notre composant de l'onglet -->
      <div style="background: blue; width: 40px; height: 40px;"></div>
    }
    @default {
      <p>Étape inconnue</p>
    }

  }
</div>
