@use '../../../../styles.scss' as *;

.button{
    font-family: $text-font;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}

.with-icon{
    display: grid;
    grid-template-columns: 25% 75%;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.large-button{
    width: 660px;
    height: 175px;
    font-size: $paragraph-size-large;
    img{
        width: 50px;
        height: 50px;
    }
}

.fullwidth-button {
  width: 100%;
  height: 100px;
  font-size: $paragraph-size-large;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
  }
  span {
    margin: 10px;
    display: block;
  }
}

.medium-button{
    width: 550px;
    height: 125px;
    font-size: $title-size-small;
    img{
        width: 30px;
        height: 30px;
    }
}

.small-button{
    width: 450px;
    height: 125px;
    font-size: $paragraph-size-medium;
    img{
        width: 20px;
        height: 20px;
    }
}

.primary-button{
    background-color: $background-color-accent;
    color: $text-color-accent;
}

.secondary-button{
    background-color: $background-color-secondary;
    color: $text-color-accent;
}


.only-icon{
  grid-template-columns: 100% 0;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 5px;
  margin: 0;
}
