<div class="choosenumberofparts">
  <h5 class="choosenumberofparts-title">Diviser en parts égales</h5>

  <div class="parts-container">
    <p class="total-price">Total: 588.99€</p>
    <div class="splitwish-container">
      <p>Je souhaite diviser le total en :</p>
      <app-number-selector></app-number-selector>
      <p>parts égales</p>
    </div>

    <p class="singlepart-price">Prix d'une part : 117.79€</p>
    <app-button text="Commencer le paiement" size="fullwidth" color="secondary"></app-button>
  </div>

  <app-button icon="assets/icons/logout.png" text="Changer de mode de paiement" size="fullwidth"></app-button>
</div>
