@use "../../../../styles.scss" as *;

.modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
  width:100%;
  height: 100%;
}
.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.modal-content {
  background-color: $background-color-secondary;
  border-radius: 50px;
  padding: 2rem;
  min-width: 400px;
  min-height: 100px;
  max-width: 900px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1.8rem;
  background: none;
  border: none;
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
  color: $text-color-primary;
}

.notDisplayed{
  display: none;
}
