@use '../../../../styles.scss' as *;

.reservation-list-title-container{
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: $background-color-primary;
  border-bottom: #64748b 1px solid;
}

.reservation-list-content{
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  app-reservation-item{
    width:90%;
  }
}
