<div class="cart-sheet" [class.open]="open" role="dialog" aria-label="Panier" aria-modal="false">
  <div class="open-button" aria-hidden="true" (click)="toggle()">
    ^
  </div>
  <div class="sheet-header">


    <p class="title" (click)="toggle()">Votre panier</p>

    <img class="cart-logo" aria-hidden="true" src="assets/icons/cart.svg"  (click)="toggle()" />
  </div>

  <div class="sheet-body" tabindex="-1">
    <div class="cart-product-container">
      <div class="list-cart-product">
        @for (cartItem of cartMock; track cartItem._id){
          <app-cart-item [item]="cartItem"></app-cart-item>
        }
      </div>
    </div>
    <div class="cart-total">Total : 800 €</div>
    <app-button icon="assets/icons/payments.svg" color="primary" size="l" text="Passer au paiement"></app-button>
  </div>
</div>

